@using AppCalories.Domain.EFStuff.Models;
@model Product;

<div>
    <div>@Model.Name</div>
    <div>@Model.Proteins</div>
    <div>@Model.Carbohydrates</div>
    <div>@Model.Fats</div>
    <div>@Model.Calories</div>

</div>